@model LiverpoolFanShop.Core.Models.Order.OrderViewModel

@{
    TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById("E. Europe Standard Time");

    DateTime localDate = TimeZoneInfo.ConvertTimeFromUtc(Model.CreatedOn, timeZone);
}

<h2>Order Confirmation</h2>

<p>Thank you for your order!</p>

<p><strong>Order ID:</strong> @Model.Id</p>
<p><strong>Address:</strong> @Model.Address</p>
<p><strong>Order Date:</strong> @localDate.ToString("g")</p>
<p><strong>Total Amount:</strong> @Model.TotalAmount.ToString("C")</p>

<h3>Products:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.OrderProducts)
        {
            <tr>
                <td>@product.Product?.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

